@import "../../responsive.scss";

.homePage {
    display: flex;
    height: 100%;
    
    .textContainer {
        flex: 3;
        margin-top: 50px;

        @include md {
            width: 60%;
        }

        @include xs {
            margin-top: 10px;
        }

        .wrapper {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            padding-right: 100px;
            gap: 50px;
            height: 100%;

            @include lg {
                padding-right: 60px;
            }

            @include md {
                padding-right: 20px;
                justify-content: flex-end;
            }

            @include sm {
                justify-content: start;
                gap: 30px;
                padding-right: 20px;
            }

            @include xs {
                gap: 15px;
                padding-right: 20px;
            }

            .title {
                font-size: 50px;

                @include lg {
                    font-size: 40px;
                }

                @include md {
                    font-size: 35px;
                }

                @include sm {
                    font-size: 25px;
                }

                @include xs {
                    font-size: 20px;
                }
            }

            p {
                line-height: 1.3;


                @include sm {
                    line-height: inherit;
                    font-size: 14px;
                }
            }

            .boxes {
                display: flex;
                justify-content: space-between;

                @include md {
                    display: none;
                }

                h1 {
                    font-size: 36px;

                    @include lg {
                        font-size: 32px;
                    }

                    @include md {
                        font-size: 25px;
                    }
                }

                h2 {
                    font-size: 20px;
                    font-weight: 300;

                    @include md {
                        font-size: 18px;
                    }
                }
            }
        }
    }

    .imgContainer {
        flex: 2;
        // background: #fcf5f3;
        position: relative;
        display: flex;
        align-items: center;
        

        @include xs {
            display: none;
        }

        img {
            width: 115%;
            position: absolute;
            right: 0;

            @include lg {
                width: 105%;
            }

            @include md {
                width: 100%;
            }

        }
    }
}